<!-- <h3 *ngIf="products; else noProduct" class="text-center">{{title}}</h3> -->

<app-category></app-category>
<div class="form-group">

  <input type="text" class="form-control" id="productName"  placeholder="Search"
  [(ngModel)]="filterText"
  >
  <!-- two way binding [(ngModel)] -->
  <small *ngIf="filterText" id="emailHelp" class="form-text text-muted">Now you seached {{filterText}}</small>
</div>
<div class="row">
  <ng-template #noProduct>
    <div class="alert alert-primary" role="alert">
      There is no product.
    </div>

  </ng-template>
 
    <div  *ngFor="let product of products | productFilter:filterText"  class="card productbox" style="width: 18rem;">
      <img [src]="product.imageUrl" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{product.name }} <span class="text-muted"> {{ product.price | currency:'GBP':true:"1.2-2"}} </span></h5>
        <p class="card-text">{{product.description}}</p>
        <a (click)="addToCart(product)" href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>

  

</div>
